In [168]:
import pandas as pd
import numpy as np

In [169]:
df =pd.read_csv("DataSet.csv")

In [170]:
df.sample(3)

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,in_balanced_dataset
4502,English Teacher Abroad (Conversational),"US, IL, Carbondale",NaN,NaN,<p>We help teachers get safe &amp; secure jobs...,"<p>Play with kids, get paid for it.</p>\r\n<p>...",<p>University degree required. TEFL / TESOL / ...,<p>See job description</p>,f,t,t,Contract,NaN,Bachelor's Degree,Education Management,Education,f,f
5313,Designer: Freelancer,"US, CA, san francisco",NaN,NaN,<p>Balanced Labs exists to provide accountants...,<p>Balanced Labs exists to provide accountants...,<p>Associate level or more of experience. A c...,NaN,f,t,f,Contract,Associate,Unspecified,Computer Software,Design,f,f
2828,Campaign Manager,"GR, I, Athens",Campaign Management,NaN,<p>Upstream’s mission is to revolutionise the ...,<p>The Campaign Manager is responsible for ide...,<p><b>Knowledge/Skills/Experience</b></p>\r\n<...,<p>We offer a competitive base salary and bene...,f,t,t,Full-time,Entry level,Bachelor's Degree,Telecommunications,Information Technology,f,f

In [171]:
df["fraudulent"].value_counts()

fraudulent
f    17014
t      866
Name: count, dtype: int64

In [172]:
# The dataset contains 15485 legitimate job postings and 866 fraudulent ones.

In [173]:
df =df.drop("in_balanced_dataset",axis=1)

In [174]:
df = df.drop(["location","industry"],axis=1)

In [175]:
df["required_education"].value_counts()

required_education
Bachelor's Degree                    5145
High School or equivalent            2080
Unspecified                          1397
Master's Degree                       416
Associate Degree                      274
Certification                         170
Some College Coursework Completed     102
Professional                           74
Vocational                             49
Some High School Coursework            27
Doctorate                              26
Vocational - HS Diploma                 9
Vocational - Degree                     6
Name: count, dtype: int64

In [176]:
df.shape

(17880, 15)

In [177]:
df.sample(5)

,title,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent
11120,(Senior) Structural Engineer,NaN,NaN,NaN,<p>we are looking for a (Senior) Structural En...,NaN,NaN,f,f,f,Full-time,Mid-Senior level,Bachelor's Degree,Engineering,f
6948,Marketing Representative,NaN,NaN,<p>Tidewater Finance Co. was established in 19...,<p>Financial Services Company is seeking a ful...,<p>This position requires the following qualif...,<p>Our company offers a competitive salary as ...,f,t,f,Full-time,Associate,Unspecified,Sales,f
3926,"State Street - GS Pricing Specialist, Associat...",NaN,NaN,<p>Pricing Recruiters is the leading global re...,<p>ur Company<br><br>State Street Corporation ...,<p>Job Description<br><br>Support and assist C...,NaN,f,t,f,Full-time,NaN,NaN,NaN,f
7031,Graduate Software Test Engineer,Product Team,NaN,<p>DICE gets fans the best tickets at face val...,<p>We are looking for a brilliant tester for o...,<ul>\r\n<li>Experience in testing mobile apps<...,<p>If having a ping pong table sways you to jo...,f,t,t,Full-time,Associate,NaN,Quality Assurance,f
269,English Teacher Abroad,NaN,NaN,<p>We help teachers get safe &amp; secure jobs...,"<p>Play with kids, get paid for it </p>\r\n<p>...",<p>University degree required. TEFL / TESOL / ...,<p>See job description</p>,f,t,t,Contract,NaN,Bachelor's Degree,NaN,f

In [178]:
df['final_text'] = (df['title'] + " " + 
                    df['department'] + " " +  
                    df['company_profile'] + " " + 
                    df['description'] + " " + 
                    df['requirements'] + " " + 
                    df['benefits'])

In [179]:
df.sample(4)

,title,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text
15361,Financial Planner & Analyst,Business Team,NaN,<p><b>Hudl is a sports + technology company.</...,"<p>We're hiring 1 for our Lincoln, Neb., offic...",<p><b>You:</b></p>\r\n<ul>\r\n<li>\r\n<b>Love ...,"<p><b>Working with us, you can:</b></p>\r\n<ul...",f,t,f,Full-time,Associate,Bachelor's Degree,Financial Analyst,f,Financial Planner & Analyst Business Team <p><...
4644,Journalism training organizers,African Program,NaN,<p><b>Applied Memetics LLC</b> is a profession...,<p>Applied Memetics LLC (AM LLC) is seeking qu...,NaN,NaN,f,t,f,NaN,NaN,Master's Degree,NaN,f,NaN
1077,Full-time Habilitation Specialist/Direct Care ...,Hab Spec,NaN,<p>Lafayette Habilitation Center creates a uni...,"<p>We are currently seeking, and will train, h...",<p><b>Required Education &amp; Experience<br><...,<p>Direct Deposit</p>\r\n<p>On site in-service...,f,t,t,NaN,Entry level,High School or equivalent,Health Care Provider,f,Full-time Habilitation Specialist/Direct Care ...
6879,Structural Designer,Engineering,NaN,NaN,<p><b>Typical Responsibilities:</b></p>\r\n<ul...,<p>Job Requirements</p>\r\n<p><b>Technical Req...,NaN,f,f,t,NaN,NaN,NaN,NaN,t,NaN

In [180]:
df.drop(["title", "company_profile","description", "requirements", "benefits"], axis=1, inplace=True)

In [181]:
df.sample(3)

,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text
14595,EC,NaN,f,t,t,NaN,NaN,NaN,NaN,f,NaN
15235,NaN,6000-15000,f,t,f,NaN,Internship,Bachelor's Degree,Sales,f,NaN
16675,NaN,NaN,f,t,f,NaN,NaN,NaN,Customer Service,f,NaN

In [182]:
df["telecommuting"].value_counts()

telecommuting
f    17113
t      767
Name: count, dtype: int64

In [183]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (2.4.1)
Requirement already satisfied: scipy>=1.10.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [184]:
df.sample(2)

,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text
2624,NaN,NaN,f,t,t,Contract,Entry level,Bachelor's Degree,Education,f,NaN
8362,NaN,NaN,f,t,t,NaN,NaN,NaN,NaN,f,NaN

In [185]:
df['department'] = df['department'].fillna("")

In [186]:
df.sample(2)

,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text
7772,,NaN,f,t,t,Contract,Entry level,Bachelor's Degree,Education,f,NaN
8459,,NaN,f,t,t,Contract,Entry level,Bachelor's Degree,Education,f,NaN

In [187]:
df["salary_range"] = df["salary_range"].fillna("0")

In [188]:
def process_salary(salary_str):
    if pd.isna(salary_str) or salary_str == "":
        return np.nan 
    clean_str = salary_str.lower().replace('$', '').replace(',', '').replace(' ', '')

    if 'k' in clean_str:
        clean_str = clean_str.replace('k', '')
        multiplier = 1000
    else:
        multiplier = 1

    try:
        if '-' in clean_str:
            low, high = clean_str.split('-')
            avg = (float(low) + float(high)) / 2
            return avg * multiplier
        else:
            return float(clean_str) * multiplier
    except ValueError:
        return np.nan

In [189]:
df['salary_Fixed'] = df['salary_range'].apply(process_salary)

In [190]:
df.sample(3)

,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text,salary_Fixed
7647,Technology,0,f,t,t,Full-time,Mid-Senior level,NaN,Engineering,f,NaN,0.0
17605,Administrative,21-63000,f,f,f,Full-time,Entry level,Bachelor's Degree,Administrative,t,NaN,31510.5
7071,,0,f,t,t,NaN,Not Applicable,High School or equivalent,NaN,f,NaN,0.0

In [191]:
df = df.drop("salary_range", axis=1)

In [192]:
mapping = {'t': 1, 'f': 0}
df["telecommuting"] = df["telecommuting"].map(mapping)
df["has_company_logo"] = df["has_company_logo"].map(mapping)
df["has_questions"] = df["has_questions"].map(mapping)
df["fraudulent"] = df["fraudulent"].map(mapping)

In [193]:
df.sample(2)

,department,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text,salary_Fixed
1789,,0,1,0,NaN,NaN,NaN,NaN,0,NaN,0.0
12610,,0,1,1,Full-time,Associate,NaN,NaN,0,NaN,0.0

In [194]:
df["employment_type"].value_counts()

employment_type
Full-time    11620
Contract      1524
Part-time      797
Temporary      241
Other          227
Name: count, dtype: int64

In [195]:
df = pd.get_dummies(df, columns = ["employment_type"],drop_first= True)

In [196]:
df.sample(3)

,department,telecommuting,has_company_logo,has_questions,required_experience,required_education,function,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary
10985,,0,1,0,Entry level,High School or equivalent,Administrative,0,NaN,0.0,True,False,False,False
1600,,0,0,1,NaN,NaN,NaN,0,NaN,0.0,False,False,False,False
12897,Recovery-Secured-Default-HomeSaver,0,0,0,NaN,NaN,NaN,0,Recovery Specialist-Collections Recovery-Secur...,0.0,True,False,False,False

In [197]:
df["required_experience"].value_counts()

required_experience
Mid-Senior level    3809
Entry level         2697
Associate           2297
Not Applicable      1116
Director             389
Internship           381
Executive            141
Name: count, dtype: int64

In [198]:
experience_map = {
    'Internship': 0,
    'Entry level': 1,
    'Not Applicable': 1,   
    'Associate': 2,
    'Mid-Senior level': 3,
    'Director': 4,
    'Executive': 5
}

In [199]:
df["required_experience"] = df["required_experience"].fillna("Not Applicable")

In [200]:
df['experience_encoded'] = df['required_experience'].map(experience_map)

In [201]:
df.sample(2)

,department,telecommuting,has_company_logo,has_questions,required_experience,required_education,function,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded
514,,0,1,0,Not Applicable,NaN,NaN,0,NaN,0.0,False,False,False,True,1
775,Sales,0,1,0,Not Applicable,Unspecified,Sales,0,Claims representatives Sales <p><b>Advocate C...,80000.0,True,False,False,False,1

In [202]:
df = df.drop("required_experience", axis = 1)

In [203]:
df["required_education"].value_counts()

required_education
Bachelor's Degree                    5145
High School or equivalent            2080
Unspecified                          1397
Master's Degree                       416
Associate Degree                      274
Certification                         170
Some College Coursework Completed     102
Professional                           74
Vocational                             49
Some High School Coursework            27
Doctorate                              26
Vocational - HS Diploma                 9
Vocational - Degree                     6
Name: count, dtype: int64

In [204]:
df["function"].value_counts()

function
Information Technology    1749
Sales                     1468
Engineering               1348
Customer Service          1229
Marketing                  830
Administrative             630
Design                     340
Health Care Provider       338
Other                      325
Education                  325
Management                 317
Business Development       228
Accounting/Auditing        212
Human Resources            205
Project Management         183
Finance                    172
Consulting                 144
Writing/Editing            132
Art/Creative               132
Production                 116
Product Management         114
Quality Assurance          111
Advertising                 90
Business Analyst            84
Data Analyst                82
Public Relations            76
Manufacturing               74
General Business            68
Research                    50
Legal                       47
Strategy/Planning           46
Training                    38
Supply Chain                36
Financial Analyst           33
Distribution                24
Purchasing                  15
Science                     14
Name: count, dtype: int64

In [205]:
edu_map = {
    "Unspecified" : 0,
    "Some High School Coursework" : 0,
    'High School or equivalent': 1,
    'Vocational - HS Diploma': 1,
    
    'Certification': 2,
    'Vocational': 2,
    'Vocational - Degree': 2,
    'Associate Degree': 2,
    'Some College Coursework Completed': 2,
    'Professional': 2, 
    
    "Bachelor's Degree": 3,
    
    "Master's Degree": 4,
    
    'Doctorate': 5
}

In [206]:
df["required_education"] = df["required_education"].fillna("Unspecified")

In [207]:
df["required_education"] = df["required_education"].map(edu_map)

In [208]:
df.sample(2)

,department,telecommuting,has_company_logo,has_questions,required_education,function,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded
11154,Product Development,0,1,1,0,NaN,0,Market Research Analyst Product Development <...,0.0,False,False,False,False,1
13798,,0,1,1,2,Accounting/Auditing,0,NaN,0.0,True,False,False,False,2

In [209]:
# now for the function column as there are more than 50 unique values we will group the less frequent ones into "Other" category
top_10_functions = df["function"].value_counts().nlargest(10).index
df['function_grouped'] = np.where(df['function'].isin(top_10_functions), df['function'], 'Other')
df_encoded = pd.get_dummies(df, columns=['function_grouped'], drop_first=True)

In [210]:
df.sample(2)

,department,telecommuting,has_company_logo,has_questions,required_education,function,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded,function_grouped
11179,,0,1,1,0,NaN,0,NaN,0.0,False,False,False,False,1,Other
12046,Engineering,0,1,0,3,Engineering,0,Sr Software Engineer (Python/Django) - Remote ...,0.0,True,False,False,False,3,Engineering

In [211]:
df = df.drop(["function"], axis = 1)

In [212]:
df["final_text"]

0                                                      NaN
1        Customer Service - Cloud Video Production Succ...
2                                                      NaN
3        Account Executive - Washington DC Sales <p>Our...
4                                                      NaN
                               ...
17875    Account Director - Distribution  Sales <p>Vend...
17876    Payroll Accountant Accounting <p>WebLinc is th...
17877                                                  NaN
17878                                                  NaN
17879                                                  NaN
Name: final_text, Length: 17880, dtype: object

In [213]:
df.head()

,department,telecommuting,has_company_logo,has_questions,required_education,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded,function_grouped
0,Marketing,0,1,0,0,0,NaN,0.0,False,True,False,False,0,Marketing
1,Success,0,1,0,0,0,Customer Service - Cloud Video Production Succ...,0.0,True,False,False,False,1,Customer Service
2,,0,1,0,0,0,NaN,0.0,False,False,False,False,1,Other
3,Sales,0,1,0,3,0,Account Executive - Washington DC Sales <p>Our...,0.0,True,False,False,False,3,Sales
4,,0,1,1,3,0,NaN,0.0,True,False,False,False,3,Health Care Provider

In [214]:
import re
def removehtml(text):
    if pd.isna(text):
        return ""
    text = re.sub(r'<[^>]+>', ' ', str(text))
    
    text = text.replace('\n', ' ').replace('\t', ' ').replace('\r', ' ')
    
    text = text.replace('/n', ' ').replace('\\n', ' ')
    
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

In [215]:
df['final_text'] = df['final_text'].apply(removehtml)

In [216]:
df.sample(5)

,department,telecommuting,has_company_logo,has_questions,required_education,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded,function_grouped
1402,Software,0,0,1,0,0,Graphic/ Web Designers Software Company Descri...,0.0,False,False,False,False,1,Other
16129,,0,1,0,0,0,,0.0,False,False,False,False,1,Other
10621,Golderado,0,0,0,0,0,,0.0,True,False,False,False,1,Other
7918,UI Production,0,0,0,3,0,,0.0,True,False,False,False,2,Other
5686,Retail,0,1,1,0,0,,0.0,True,False,False,False,3,Sales

In [217]:
df["department"].value_counts()

department
                                11547
Sales                             551
Engineering                       487
Marketing                         401
Operations                        270
                                ...
QA & Programme Delivery             1
Private Duty                        1
RHB OUTSOURCING                     1
reception                           1
IT Administrator / Developer        1
Name: count, Length: 1338, dtype: int64

In [218]:
df.drop(["department"], axis = 1, inplace = True)

In [219]:
df.head()

,telecommuting,has_company_logo,has_questions,required_education,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded,function_grouped
0,0,1,0,0,0,,0.0,False,True,False,False,0,Marketing
1,0,1,0,0,0,Customer Service - Cloud Video Production Succ...,0.0,True,False,False,False,1,Customer Service
2,0,1,0,0,0,,0.0,False,False,False,False,1,Other
3,0,1,0,3,0,Account Executive - Washington DC Sales Our pa...,0.0,True,False,False,False,3,Sales
4,0,1,1,3,0,,0.0,True,False,False,False,3,Health Care Provider

In [220]:
df =pd.get_dummies(df, columns = ["function_grouped"], drop_first = True)

In [221]:
df.sample(3)

,telecommuting,has_company_logo,has_questions,required_education,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,...,experience_encoded,function_grouped_Customer Service,function_grouped_Design,function_grouped_Education,function_grouped_Engineering,function_grouped_Health Care Provider,function_grouped_Information Technology,function_grouped_Marketing,function_grouped_Other,function_grouped_Sales
8637,0,1,1,3,0,Social Media Content Manager Digital Departmen...,0.0,True,False,False,...,1,False,False,False,False,False,False,False,True,False
97,0,1,0,1,0,,0.0,True,False,False,...,1,True,False,False,False,False,False,False,False,False
17679,0,0,0,0,1,,0.0,False,False,False,...,1,False,False,False,False,False,False,False,True,False

In [222]:
bool_cols = df.select_dtypes(include=['bool']).columns
df[bool_cols] = df[bool_cols].astype(int)

In [223]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [224]:
X = df.drop(['fraudulent', 'final_text'], axis=1)
y = df['fraudulent']

In [225]:
X_train, X_test, y_train, y_test, text_train, text_test = train_test_split(
    X, y, df['final_text'], test_size=0.2, random_state=42, stratify=y
)

In [229]:

tfidf = TfidfVectorizer(max_features=5000)

In [230]:
text_train_tfidf = tfidf.fit_transform(text_train)
text_test_tfidf = tfidf.transform(text_test)

In [231]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [233]:
scaler = StandardScaler()

In [234]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [235]:
from scipy.sparse import hstack
x_train_final = hstack([X_train_scaled, text_train_tfidf])
x_test_final = hstack([X_test_scaled, text_test_tfidf])

In [236]:
log_reg = LogisticRegression(max_iter=1000, class_weight='balanced', random_state=42)

In [237]:
print("Training model...")
log_reg.fit(x_train_final, y_train)

Training model...

LogisticRegression(class_weight='balanced', max_iter=1000, random_state=42)

In [238]:
y_pred = log_reg.predict(x_test_final)

In [239]:
print("\n--- Model Performance ---")
print(classification_report(y_test, y_pred))

print("\n--- Confusion Matrix ---")
print(confusion_matrix(y_test, y_pred))

--- Model Performance ---
              precision    recall  f1-score   support

           0       0.99      0.82      0.90      3403
           1       0.19      0.82      0.31       173

    accuracy                           0.82      3576
   macro avg       0.59      0.82      0.60      3576
weighted avg       0.95      0.82      0.87      3576


--- Confusion Matrix ---
[[2793  610]
 [  32  141]]