In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_csv("DataSet.csv")

In [10]:
df.sample(3)

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
9940,Outside Sales Professional-Savage,"US, MN, Savage",NaN,NaN,"<p>ABC Supply Co., Inc. is the nation’s larges...","<p>As an Outside Sales Representative, you wil...","<p>As an Outside Sales Representative, you mus...",<p><b>Benefits:</b></p>\r\n<p>As an Outside Sa...,f,t,f,Full-time,NaN,NaN,Building Materials,Sales,f
7128,"Data Scientist (Big Data, Machine Learning)","PL, , krakow",NaN,NaN,<p>Merchenta’s behavioural advertising platfor...,<p>We help online retailers and global brands ...,"<p>We work with a wide range of technologies, ...",<p>The role brings with it a competitive salar...,f,t,f,Full-time,Mid-Senior level,NaN,Computer Software,NaN,f
16936,Friendly Customer Service Employees..Hiring Im...,"US, OH, Columbus",NaN,NaN,"<p>LEI Home Enhancements, is an Ohio based com...",<p><b>Seeking Experienced Customer Service Rep...,<p><b>We're looking for candidates who are:</b...,<p>We offer competitive pay; benefits; trainin...,f,t,f,NaN,NaN,NaN,NaN,Customer Service,f

In [11]:
df["fraudulent"].value_counts()

fraudulent
f    17014
t      866
Name: count, dtype: int64

In [13]:
# The dataset contains 15485 legitimate job postings and 866 fraudulent ones.

In [9]:
df =df.drop("in_balanced_dataset",axis=1)

In [14]:
df = df.drop(["location","industry"],axis=1)

In [15]:
df["required_education"].value_counts()

required_education
Bachelor's Degree                    5145
High School or equivalent            2080
Unspecified                          1397
Master's Degree                       416
Associate Degree                      274
Certification                         170
Some College Coursework Completed     102
Professional                           74
Vocational                             49
Some High School Coursework            27
Doctorate                              26
Vocational - HS Diploma                 9
Vocational - Degree                     6
Name: count, dtype: int64