In [119]:
import pandas as pd
import numpy as np

In [120]:
df =pd.read_csv("DataSet.csv")

In [121]:
df.sample(3)

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,in_balanced_dataset
3816,Financial Advisor,"CA, ON, Mississauga",NaN,NaN,NaN,<p>JOB DESCRIPTION<br />If you are considering...,NaN,NaN,f,f,f,NaN,NaN,NaN,NaN,NaN,f,f
17343,Managing Director,"US, NY, New York",NaN,NaN,<p>Blueprint Health is the premier healthcare ...,<p>Blueprint Health is the leading healthcare ...,<ul>\r\n<li>2+ years of experience at a start-...,NaN,f,t,f,Full-time,Executive,NaN,Hospital & Health Care,NaN,f,t
17274,Senior Association Manager,"US, NC, Davidson/Lake Norman Area",NaN,NaN,<p>We Help Create Communities that Withstand t...,<p><b>General Function </b></p>\r\n<p>This is...,<p><b>Requirements</b></p>\r\n<ul>\r\n<li>3-5+...,NaN,f,t,f,Full-time,Mid-Senior level,NaN,Real Estate,Management,f,t

In [122]:
df["fraudulent"].value_counts()

fraudulent
f    17014
t      866
Name: count, dtype: int64

In [123]:
# The dataset contains 15485 legitimate job postings and 866 fraudulent ones.

In [124]:
df =df.drop("in_balanced_dataset",axis=1)

In [125]:
df = df.drop(["location","industry"],axis=1)

In [126]:
df["required_education"].value_counts()

required_education
Bachelor's Degree                    5145
High School or equivalent            2080
Unspecified                          1397
Master's Degree                       416
Associate Degree                      274
Certification                         170
Some College Coursework Completed     102
Professional                           74
Vocational                             49
Some High School Coursework            27
Doctorate                              26
Vocational - HS Diploma                 9
Vocational - Degree                     6
Name: count, dtype: int64

In [127]:
df.shape

(17880, 15)

In [128]:
df.sample(5)

,title,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent
5958,Prop Stylist (Temporary position: Nov '13 - Fe...,Provisions,NaN,"<h3>We're Food52, and we've created a groundbr...",<p>Are you obsessed with finding the perfect f...,<ul>\r\n<li>have experience as a prop stylist ...,NaN,f,t,t,Temporary,NaN,NaN,Art/Creative,f
17600,Admin Assistant Position,NaN,NaN,NaN,<p>Our Company is seeking a Part Time Admin As...,<ul>\r\n<li>The applicant must be computer lit...,<ul>\r\n<li>good work</li>\r\n</ul>,f,f,t,NaN,NaN,NaN,NaN,t
4432,Systems Engineer,IT,NaN,<p>MAP Digital: MetaMeetings is a digital even...,<p>MAP Digital: MetaMeetingsTM is seeking an e...,<ul>\r\n<li>4+ years experience with Windows D...,NaN,f,t,t,NaN,Mid-Senior level,NaN,Information Technology,f
16753,Project Manager,PMO - Program Manager's Office,156000-187200,<p>CARES is Alabama’s approach to the moderniz...,<p>Provide the following duties:</p>\r\n<ul>\r...,"<p>The Project Manager provided shall, at a mi...",NaN,f,f,f,NaN,NaN,NaN,NaN,f
10318,Customer support(Junior position),NaN,1000-1100,NaN,<p>We need a person that has lots of energy an...,<p>-Make good coffee</p>\r\n<p>-Listen</p>,<p>-Sitting all day on the computer</p>\r\n<p>...,f,f,f,Full-time,Entry level,NaN,Customer Service,f

In [129]:
df["final_text"] = df["title"] + df["company_profile"] + df["description"]+ df["requirements"] + df["benefits"]

In [130]:
df.sample(4)

,title,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text
14896,Manufacturing Operations Supervisor,NaN,NaN,<p>We Provide Full Time Permanent Positions fo...,<p><b><i>(We have more than 1500+ Job openings...,NaN,NaN,f,f,f,Full-time,NaN,NaN,NaN,f,NaN
17752,Medical Intake Representative (Data Entry),Administration support,NaN,NaN,<p>What we prefer in a candidate:<br>Great att...,<p>No requirements!</p>,NaN,t,f,f,NaN,NaN,NaN,NaN,t,NaN
3746,TV Copy Writer,NaN,NaN,<p><b>Applied Memetics LLC</b> is a profession...,<p>The TV Copy Writer shall properly complete ...,<p>The TV Copy Writer shall have experience in...,NaN,f,t,f,NaN,NaN,NaN,NaN,f,NaN
12217,John's Talent Network,NaN,NaN,NaN,<p>Real Ventures is Canada’s largest seed stag...,NaN,NaN,f,t,t,Full-time,NaN,NaN,NaN,f,NaN

In [131]:
df.drop(["title", "company_profile","description", "requirements", "benefits"], axis=1, inplace=True)

In [132]:
df.sample(3)

,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text
12031,NaN,NaN,f,t,t,Full-time,Associate,Bachelor's Degree,Public Relations,f,Account Coordinator<p>INK is the agency of cho...
13524,Engineering,NaN,f,t,f,Full-time,Mid-Senior level,NaN,Engineering,f,Software Development Engineer in Test (SDET)<p...
384,NaN,NaN,f,f,f,Full-time,NaN,NaN,NaN,f,NaN

In [133]:
df["telecommuting"].value_counts()

telecommuting
f    17113
t      767
Name: count, dtype: int64

In [134]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (2.4.1)
Requirement already satisfied: scipy>=1.10.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [135]:
df.sample(2)

,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text
10607,High-Tech Engineering,NaN,f,f,f,Contract,Mid-Senior level,Master's Degree,Engineering,f,NaN
9607,Marketing,NaN,t,t,t,Contract,NaN,NaN,Writing/Editing,f,NaN

In [136]:
df['department'] = df['department'].fillna("")

In [137]:
df.sample(2)

,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text
8083,,NaN,f,t,t,Full-time,Entry level,Unspecified,General Business,f,"Client Services Administrator - Lafayette, CA<..."
7423,,35000-50000,f,t,t,Full-time,Mid-Senior level,NaN,Product Management,f,NaN

In [138]:
df["salary_range"] = df["salary_range"].fillna("0")

In [139]:
def process_salary(salary_str):
    if pd.isna(salary_str) or salary_str == "":
        return np.nan 
    clean_str = salary_str.lower().replace('$', '').replace(',', '').replace(' ', '')

    if 'k' in clean_str:
        clean_str = clean_str.replace('k', '')
        multiplier = 1000
    else:
        multiplier = 1

    try:
        if '-' in clean_str:
            low, high = clean_str.split('-')
            avg = (float(low) + float(high)) / 2
            return avg * multiplier
        else:
            return float(clean_str) * multiplier
    except ValueError:
        return np.nan

In [140]:
df['salary_Fixed'] = df['salary_range'].apply(process_salary)

In [141]:
df.sample(3)

,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text,salary_Fixed
13604,,0,f,t,f,Full-time,Not Applicable,Unspecified,Information Technology,f,Client solutions manager<p>Industrial Color So...,0.0
13721,,0,f,t,t,NaN,NaN,NaN,Other,f,NaN,0.0
15721,,0,f,t,f,Part-time,Not Applicable,NaN,NaN,f,Student Delivery Bikers<p>Pronto delivers brea...,0.0

In [142]:
df = df.drop("salary_range", axis=1)

In [143]:
mapping = {'t': 1, 'f': 0}
df["telecommuting"] = df["telecommuting"].map(mapping)
df["has_company_logo"] = df["has_company_logo"].map(mapping)
df["has_questions"] = df["has_questions"].map(mapping)
df["fraudulent"] = df["fraudulent"].map(mapping)

In [144]:
df.sample(2)

,department,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text,salary_Fixed
12056,,0,1,1,Full-time,NaN,NaN,Design,0,NaN,105000.0
481,,0,1,1,Full-time,NaN,Master's Degree,Education,0,NaN,0.0

In [145]:
df["employment_type"].value_counts()

employment_type
Full-time    11620
Contract      1524
Part-time      797
Temporary      241
Other          227
Name: count, dtype: int64

In [146]:
df = pd.get_dummies(df, columns = ["employment_type"],drop_first= True)

In [147]:
df.sample(3)

,department,telecommuting,has_company_logo,has_questions,required_experience,required_education,function,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary
14226,,0,0,0,Mid-Senior level,NaN,NaN,0,NaN,0.0,False,False,False,False
9578,,0,1,0,NaN,NaN,NaN,0,NaN,28000.0,True,False,False,False
15251,,0,1,0,NaN,NaN,NaN,0,NaN,0.0,False,True,False,False

In [148]:
df["required_experience"].value_counts()

required_experience
Mid-Senior level    3809
Entry level         2697
Associate           2297
Not Applicable      1116
Director             389
Internship           381
Executive            141
Name: count, dtype: int64

In [149]:
experience_map = {
    'Internship': 0,
    'Entry level': 1,
    'Not Applicable': 1,   
    'Associate': 2,
    'Mid-Senior level': 3,
    'Director': 4,
    'Executive': 5
}

In [150]:
df["required_experience"] = df["required_experience"].fillna("Not Applicable")

In [151]:
df['experience_encoded'] = df['required_experience'].map(experience_map)

In [152]:
df.sample(2)

,department,telecommuting,has_company_logo,has_questions,required_experience,required_education,function,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded
2679,Programming,0,0,1,Not Applicable,NaN,NaN,0,Experienced PHP Developer<p>Work is fun when y...,0.0,False,False,False,False,1
9389,,0,1,0,Associate,High School or equivalent,Administrative,0,Administrative Assistant<p>Crossroads Treatmen...,0.0,True,False,False,False,2

In [153]:
df = df.drop("required_experience", axis = 1)

In [154]:
df["required_education"].value_counts()

required_education
Bachelor's Degree                    5145
High School or equivalent            2080
Unspecified                          1397
Master's Degree                       416
Associate Degree                      274
Certification                         170
Some College Coursework Completed     102
Professional                           74
Vocational                             49
Some High School Coursework            27
Doctorate                              26
Vocational - HS Diploma                 9
Vocational - Degree                     6
Name: count, dtype: int64

In [155]:
df["function"].value_counts()

function
Information Technology    1749
Sales                     1468
Engineering               1348
Customer Service          1229
Marketing                  830
Administrative             630
Design                     340
Health Care Provider       338
Other                      325
Education                  325
Management                 317
Business Development       228
Accounting/Auditing        212
Human Resources            205
Project Management         183
Finance                    172
Consulting                 144
Writing/Editing            132
Art/Creative               132
Production                 116
Product Management         114
Quality Assurance          111
Advertising                 90
Business Analyst            84
Data Analyst                82
Public Relations            76
Manufacturing               74
General Business            68
Research                    50
Legal                       47
Strategy/Planning           46
Training                    38
Supply Chain                36
Financial Analyst           33
Distribution                24
Purchasing                  15
Science                     14
Name: count, dtype: int64

In [156]:
edu_map = {
    "Unspecified" : 0,
    "Some High School Coursework" : 0,
    'High School or equivalent': 1,
    'Vocational - HS Diploma': 1,
    
    'Certification': 2,
    'Vocational': 2,
    'Vocational - Degree': 2,
    'Associate Degree': 2,
    'Some College Coursework Completed': 2,
    'Professional': 2, 
    
    "Bachelor's Degree": 3,
    
    "Master's Degree": 4,
    
    'Doctorate': 5
}

In [157]:
df["required_education"] = df["required_education"].fillna("Unspecified")

In [158]:
df["required_education"] = df["required_education"].map(edu_map)

In [159]:
df.sample(2)

,department,telecommuting,has_company_logo,has_questions,required_education,function,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded
14964,,0,1,0,3,Management,0,Safety Manager<p>Shirley Parsons LLC is a spec...,57.5,True,False,False,False,3
2240,,0,1,1,0,Administrative,0,Office Manager<p>#URL_a397afc00bff956382eec8b3...,18000.0,True,False,False,False,3

In [160]:
# now for the function column as there are more than 50 unique values we will group the less frequent ones into "Other" category
top_10_functions = df["function"].value_counts().nlargest(10).index
df['function_grouped'] = np.where(df['function'].isin(top_10_functions), df['function'], 'Other')
df_encoded = pd.get_dummies(df, columns=['function_grouped'], drop_first=True)

In [161]:
df.sample(2)

,department,telecommuting,has_company_logo,has_questions,required_education,function,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded,function_grouped
6923,,0,1,1,0,NaN,0,NaN,0.0,False,False,False,False,1,Other
12195,,0,1,0,0,NaN,0,NaN,0.0,False,False,False,False,1,Other

In [162]:
df = df.drop(["function"], axis = 1)

In [163]:
df["final_text"]

0                                                      NaN
1        Customer Service - Cloud Video Production<h3>9...
2                                                      NaN
3        Account Executive - Washington DC<p>Our passio...
4        Bill Review Manager<p>SpotSource Solutions LLC...
                               ...
17875    Account Director - Distribution <p>Vend is loo...
17876    Payroll Accountant<p>WebLinc is the e-commerce...
17877                                                  NaN
17878                                                  NaN
17879                                                  NaN
Name: final_text, Length: 17880, dtype: object

In [164]:
df.head()

,department,telecommuting,has_company_logo,has_questions,required_education,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded,function_grouped
0,Marketing,0,1,0,0,0,NaN,0.0,False,True,False,False,0,Marketing
1,Success,0,1,0,0,0,Customer Service - Cloud Video Production<h3>9...,0.0,True,False,False,False,1,Customer Service
2,,0,1,0,0,0,NaN,0.0,False,False,False,False,1,Other
3,Sales,0,1,0,3,0,Account Executive - Washington DC<p>Our passio...,0.0,True,False,False,False,3,Sales
4,,0,1,1,3,0,Bill Review Manager<p>SpotSource Solutions LLC...,0.0,True,False,False,False,3,Health Care Provider