In [69]:
import pandas as pd
import numpy as np

In [70]:
df =pd.read_csv("DataSet.csv")

In [71]:
df.sample(3)

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,in_balanced_dataset
5306,Administrative Assistant/Front Desk Clerk,"US, , San Antonio",NaN,NaN,NaN,<p>The Administrative Assistant will make a fi...,<p>- Minimum of 2 years’ experience as an admi...,"<p>Benefits include: Health, Dental, Life and ...",f,f,f,NaN,NaN,NaN,NaN,NaN,f,f
5244,Sales Executive,"US, , San Francisco",Sales,NaN,NaN,<p>Vidcaster is seeking a driven sales executi...,<p>Bachelor's degree or relevant work experien...,"<p>Market base salary, on-target incentive pay...",f,t,f,NaN,NaN,NaN,NaN,NaN,f,f
9143,English Teacher Abroad (Conversational),"US, ND, Grand Forks",NaN,NaN,<p>We help teachers get safe &amp; secure jobs...,"<p><img src=""#URL_ec9a1dff9db12b7f5987cf4cae6d...",<p>University degree required. TEFL / TESOL / ...,<p>See job description</p>,f,t,t,Contract,NaN,Bachelor's Degree,Education Management,Education,f,f

In [72]:
df["fraudulent"].value_counts()

fraudulent
f    17014
t      866
Name: count, dtype: int64

In [73]:
# The dataset contains 15485 legitimate job postings and 866 fraudulent ones.

In [74]:
df =df.drop("in_balanced_dataset",axis=1)

In [75]:
df = df.drop(["location","industry"],axis=1)

In [76]:
df["required_education"].value_counts()

required_education
Bachelor's Degree                    5145
High School or equivalent            2080
Unspecified                          1397
Master's Degree                       416
Associate Degree                      274
Certification                         170
Some College Coursework Completed     102
Professional                           74
Vocational                             49
Some High School Coursework            27
Doctorate                              26
Vocational - HS Diploma                 9
Vocational - Degree                     6
Name: count, dtype: int64

In [77]:
df.shape

(17880, 15)

In [78]:
df.sample(5)

,title,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent
12654,Director of Managed Care,NaN,NaN,<p>Recombine provides clinical genetic testing...,<p>Recombine is advancing personalized medicin...,<p><b>About You</b></p>\r\n<ul>\r\n<li>5-7 yea...,<ul>\r\n<li>Participate and contribute to an e...,f,t,f,Full-time,Associate,Bachelor's Degree,NaN,f
2315,Java Engineer,NaN,NaN,NaN,<ul>\r\n<li>Defines site objectives by analyzi...,NaN,NaN,f,f,f,NaN,NaN,NaN,NaN,f
11869,Experienced Sales Lead,Business,NaN,<p>Making Quality Metrics Actionable</p>\r\n<p...,<p>Dabo Health (#URL_564a318f6ae1c65f08f9225d4...,<ul>\r\n<li>Bachelor's degree preferred</li>\r...,<ul>\r\n<li>Health Insurance.</li>\r\n<li>Flex...,f,t,f,Full-time,Executive,Bachelor's Degree,Sales,f
4211,Professional Language Instructor,NaN,NaN,NaN,<p>Wisemont &amp; Netverb Language Services is...,<ul>\r\n<li>Fluent (native or near-native leve...,<ul>\r\n<li>attractive hourly rate</li>\r\n<li...,t,f,t,NaN,NaN,NaN,NaN,f
79,Product Manager,NaN,75000-110000,<p>Mindscape is a Wellington based software de...,<p><b>Raygun</b> is a fast growing Mindscape p...,<ul>\r\n<li>3+ years experience in project or ...,"<p>You'll be part of a fast growing company, i...",f,t,t,Full-time,NaN,Bachelor's Degree,Product Management,f

In [79]:
df['final_text'] = (df['title'] + " " + 
                    df['department'] + " " +  
                    df['company_profile'] + " " + 
                    df['description'] + " " + 
                    df['requirements'] + " " + 
                    df['benefits'])

In [80]:
df.sample(4)

,title,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text
13674,Copywriter,MKT,NaN,<p>7Indigo New Media is an advertising agency ...,<p>7Indigo New Media is an advertising agency ...,<ul>\r\n<li>Excellent knowledge and command of...,<ul>\r\n<li>Training and development plan</li>...,f,t,f,Full-time,Entry level,Bachelor's Degree,Advertising,f,Copywriter MKT <p>7Indigo New Media is an adve...
2980,"International Broadcaster, Serbian Language",NaN,NaN,<p><b>Applied Memetics LLC</b> is a profession...,<p>The International Broadcaster shall properl...,<p>The International Broadcaster shall have at...,NaN,f,t,f,NaN,NaN,NaN,NaN,f,NaN
6183,OUD: Senior Developer 1,NaN,NaN,<p>SummaView is een jong bedrijf uit Amersfoor...,<p></p>\r\n<p><b>Bedrijfsprofiel Vi Summa</b><...,"<ul>\r\n<li>MS Excel (minimaal 2010, 2013 is e...",<p><b>Wij bieden:</b></p>\r\n<ul>\r\n<li>Stand...,f,t,t,Full-time,Mid-Senior level,Bachelor's Degree,Information Technology,f,NaN
11167,Lead Customer Service Associate,NaN,NaN,"<p>Novitex Enterprise Solutions, formerly Pitn...",<p>The Lead Customer Service Associate will be...,<p><b>Minimum Requirements:</b></p>\r\n<ul>\r\...,NaN,f,t,f,Full-time,Entry level,High School or equivalent,Customer Service,f,NaN

In [81]:
df.drop(["title", "company_profile","description", "requirements", "benefits"], axis=1, inplace=True)

In [82]:
df.sample(3)

,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text
15466,Sales,NaN,f,t,f,Full-time,Associate,Bachelor's Degree,Sales,f,Senior Key Account Manager - Saudi Arabia Sale...
4525,NaN,NaN,f,f,f,Full-time,NaN,NaN,NaN,f,NaN
9483,NaN,NaN,f,t,t,NaN,NaN,NaN,NaN,f,NaN

In [83]:
df["telecommuting"].value_counts()

telecommuting
f    17113
t      767
Name: count, dtype: int64

In [84]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (2.4.1)
Requirement already satisfied: scipy>=1.10.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [85]:
df.sample(2)

,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text
6278,NaN,0-43500,f,f,f,Temporary,NaN,NaN,Human Resources,f,NaN
3311,Marketing,NaN,f,t,f,Full-time,Mid-Senior level,NaN,Public Relations,f,PR Manager Marketing <p>Depop is an exciting n...

In [86]:
df['department'] = df['department'].fillna("")

In [87]:
df.sample(2)

,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text
2582,Back-End Development,NaN,f,t,t,NaN,NaN,NaN,NaN,f,NaN
9944,,NaN,f,f,f,Full-time,Mid-Senior level,Bachelor's Degree,Manufacturing,f,NaN

In [88]:
df["salary_range"] = df["salary_range"].fillna("0")

In [89]:
def process_salary(salary_str):
    if pd.isna(salary_str) or salary_str == "":
        return np.nan 
    clean_str = salary_str.lower().replace('$', '').replace(',', '').replace(' ', '')

    if 'k' in clean_str:
        clean_str = clean_str.replace('k', '')
        multiplier = 1000
    else:
        multiplier = 1

    try:
        if '-' in clean_str:
            low, high = clean_str.split('-')
            avg = (float(low) + float(high)) / 2
            return avg * multiplier
        else:
            return float(clean_str) * multiplier
    except ValueError:
        return np.nan

In [90]:
df['salary_Fixed'] = df['salary_range'].apply(process_salary)

In [91]:
df.sample(3)

,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text,salary_Fixed
2377,,0,f,f,f,NaN,NaN,NaN,NaN,f,NaN,0.0
14827,Sales,0,t,t,f,Full-time,Director,NaN,Sales,f,"Director, Strategic Accounts Sales <p>Abakus i...",0.0
15951,,0,f,t,f,Full-time,Mid-Senior level,NaN,NaN,f,NaN,0.0

In [92]:
df = df.drop("salary_range", axis=1)

In [93]:
mapping = {'t': 1, 'f': 0}
df["telecommuting"] = df["telecommuting"].map(mapping)
df["has_company_logo"] = df["has_company_logo"].map(mapping)
df["has_questions"] = df["has_questions"].map(mapping)
df["fraudulent"] = df["fraudulent"].map(mapping)

In [94]:
df.sample(2)

,department,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,final_text,salary_Fixed
13442,,0,1,0,Full-time,Associate,Bachelor's Degree,Management,0,NaN,0.0
2632,,0,1,0,Full-time,Entry level,High School or equivalent,Customer Service,0,NaN,0.0

In [95]:
df["employment_type"].value_counts()

employment_type
Full-time    11620
Contract      1524
Part-time      797
Temporary      241
Other          227
Name: count, dtype: int64

In [96]:
df = pd.get_dummies(df, columns = ["employment_type"],drop_first= True)

In [97]:
df.sample(3)

,department,telecommuting,has_company_logo,has_questions,required_experience,required_education,function,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary
9630,,0,1,1,Internship,NaN,NaN,0,NaN,0.0,False,False,False,False
3512,,0,1,0,NaN,NaN,NaN,0,NaN,0.0,False,False,False,False
4935,,0,1,1,Mid-Senior level,Bachelor's Degree,Engineering,0,NaN,0.0,True,False,False,False

In [98]:
df["required_experience"].value_counts()

required_experience
Mid-Senior level    3809
Entry level         2697
Associate           2297
Not Applicable      1116
Director             389
Internship           381
Executive            141
Name: count, dtype: int64

In [99]:
experience_map = {
    'Internship': 0,
    'Entry level': 1,
    'Not Applicable': 1,   
    'Associate': 2,
    'Mid-Senior level': 3,
    'Director': 4,
    'Executive': 5
}

In [100]:
df["required_experience"] = df["required_experience"].fillna("Not Applicable")

In [101]:
df['experience_encoded'] = df['required_experience'].map(experience_map)

In [102]:
df.sample(2)

,department,telecommuting,has_company_logo,has_questions,required_experience,required_education,function,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded
16642,,0,1,1,Not Applicable,Bachelor's Degree,Sales,0,NaN,0.0,True,False,False,False,1
17393,,0,1,1,Associate,Associate Degree,Information Technology,0,NaN,0.0,True,False,False,False,2

In [103]:
df = df.drop("required_experience", axis = 1)

In [104]:
df["required_education"].value_counts()

required_education
Bachelor's Degree                    5145
High School or equivalent            2080
Unspecified                          1397
Master's Degree                       416
Associate Degree                      274
Certification                         170
Some College Coursework Completed     102
Professional                           74
Vocational                             49
Some High School Coursework            27
Doctorate                              26
Vocational - HS Diploma                 9
Vocational - Degree                     6
Name: count, dtype: int64

In [105]:
df["function"].value_counts()

function
Information Technology    1749
Sales                     1468
Engineering               1348
Customer Service          1229
Marketing                  830
Administrative             630
Design                     340
Health Care Provider       338
Other                      325
Education                  325
Management                 317
Business Development       228
Accounting/Auditing        212
Human Resources            205
Project Management         183
Finance                    172
Consulting                 144
Writing/Editing            132
Art/Creative               132
Production                 116
Product Management         114
Quality Assurance          111
Advertising                 90
Business Analyst            84
Data Analyst                82
Public Relations            76
Manufacturing               74
General Business            68
Research                    50
Legal                       47
Strategy/Planning           46
Training                    38
Supply Chain                36
Financial Analyst           33
Distribution                24
Purchasing                  15
Science                     14
Name: count, dtype: int64

In [106]:
edu_map = {
    "Unspecified" : 0,
    "Some High School Coursework" : 0,
    'High School or equivalent': 1,
    'Vocational - HS Diploma': 1,
    
    'Certification': 2,
    'Vocational': 2,
    'Vocational - Degree': 2,
    'Associate Degree': 2,
    'Some College Coursework Completed': 2,
    'Professional': 2, 
    
    "Bachelor's Degree": 3,
    
    "Master's Degree": 4,
    
    'Doctorate': 5
}

In [107]:
df["required_education"] = df["required_education"].fillna("Unspecified")

In [108]:
df["required_education"] = df["required_education"].map(edu_map)

In [109]:
df.sample(2)

,department,telecommuting,has_company_logo,has_questions,required_education,function,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded
421,,0,1,1,3,NaN,0,NaN,0.0,False,False,False,False,1
8102,Android Developer,0,1,0,3,Information Technology,0,Android Developer Android Developer <p>ehumanl...,0.0,True,False,False,False,1

In [110]:
# now for the function column as there are more than 50 unique values we will group the less frequent ones into "Other" category
top_10_functions = df["function"].value_counts().nlargest(10).index
df['function_grouped'] = np.where(df['function'].isin(top_10_functions), df['function'], 'Other')
df_encoded = pd.get_dummies(df, columns=['function_grouped'], drop_first=True)

In [111]:
df.sample(2)

,department,telecommuting,has_company_logo,has_questions,required_education,function,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded,function_grouped
159,,0,1,1,0,NaN,0,NaN,10.5,False,False,False,False,1,Other
9359,,0,1,1,3,Consulting,0,NaN,0.0,True,False,False,False,3,Other

In [112]:
df = df.drop(["function"], axis = 1)

In [113]:
df["final_text"]

0                                                      NaN
1        Customer Service - Cloud Video Production Succ...
2                                                      NaN
3        Account Executive - Washington DC Sales <p>Our...
4                                                      NaN
                               ...
17875    Account Director - Distribution  Sales <p>Vend...
17876    Payroll Accountant Accounting <p>WebLinc is th...
17877                                                  NaN
17878                                                  NaN
17879                                                  NaN
Name: final_text, Length: 17880, dtype: object

In [114]:
df.head()

,department,telecommuting,has_company_logo,has_questions,required_education,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded,function_grouped
0,Marketing,0,1,0,0,0,NaN,0.0,False,True,False,False,0,Marketing
1,Success,0,1,0,0,0,Customer Service - Cloud Video Production Succ...,0.0,True,False,False,False,1,Customer Service
2,,0,1,0,0,0,NaN,0.0,False,False,False,False,1,Other
3,Sales,0,1,0,3,0,Account Executive - Washington DC Sales <p>Our...,0.0,True,False,False,False,3,Sales
4,,0,1,1,3,0,NaN,0.0,True,False,False,False,3,Health Care Provider

In [115]:
import re
def removehtml(text):
    if pd.isna(text):
        return ""
    text = re.sub(r'<[^>]+>', ' ', str(text))
    
    text = text.replace('\n', ' ').replace('\t', ' ').replace('\r', ' ')
    
    text = text.replace('/n', ' ').replace('\\n', ' ')
    
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

In [116]:
df['final_text'] = df['final_text'].apply(removehtml)

In [117]:
df.sample(5)

,department,telecommuting,has_company_logo,has_questions,required_education,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded,function_grouped
17004,,0,1,1,1,0,,0.0,True,False,False,False,3,Other
17179,,0,0,1,3,0,,0.0,True,False,False,False,3,Engineering
9321,,0,1,0,0,0,,0.0,False,False,False,False,1,Other
7254,,0,1,0,0,0,,0.0,True,False,False,False,1,Other
16644,Recruiter,1,1,0,0,0,Company Promotion / Technical Recruiter / Part...,0.0,False,False,True,False,1,Other

In [118]:
df["department"].value_counts()

department
                                11547
Sales                             551
Engineering                       487
Marketing                         401
Operations                        270
                                ...
QA & Programme Delivery             1
Private Duty                        1
RHB OUTSOURCING                     1
reception                           1
IT Administrator / Developer        1
Name: count, Length: 1338, dtype: int64

In [119]:
df.drop(["department"], axis = 1, inplace = True)

In [120]:
df.head()

,telecommuting,has_company_logo,has_questions,required_education,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,experience_encoded,function_grouped
0,0,1,0,0,0,,0.0,False,True,False,False,0,Marketing
1,0,1,0,0,0,Customer Service - Cloud Video Production Succ...,0.0,True,False,False,False,1,Customer Service
2,0,1,0,0,0,,0.0,False,False,False,False,1,Other
3,0,1,0,3,0,Account Executive - Washington DC Sales Our pa...,0.0,True,False,False,False,3,Sales
4,0,1,1,3,0,,0.0,True,False,False,False,3,Health Care Provider

In [121]:
df =pd.get_dummies(df, columns = ["function_grouped"], drop_first = True)

In [122]:
df.sample(3)

,telecommuting,has_company_logo,has_questions,required_education,fraudulent,final_text,salary_Fixed,employment_type_Full-time,employment_type_Other,employment_type_Part-time,...,experience_encoded,function_grouped_Customer Service,function_grouped_Design,function_grouped_Education,function_grouped_Engineering,function_grouped_Health Care Provider,function_grouped_Information Technology,function_grouped_Marketing,function_grouped_Other,function_grouped_Sales
11862,0,1,1,3,0,Quality Assurance Engineer Engineering We’re a...,0.0,True,False,False,...,2,False,False,False,False,False,False,False,True,False
17226,0,1,1,1,0,,0.0,True,False,False,...,1,False,False,False,False,True,False,False,False,False
6865,0,1,1,3,0,,0.0,True,False,False,...,2,False,False,False,True,False,False,False,False,False

In [123]:
bool_cols = df.select_dtypes(include=['bool']).columns
df[bool_cols] = df[bool_cols].astype(int)

In [124]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [125]:
X = df.drop(['fraudulent', 'final_text'], axis=1)
y = df['fraudulent']

In [126]:
X_train, X_test, y_train, y_test, text_train, text_test = train_test_split(
    X, y, df['final_text'], test_size=0.2, random_state=42, stratify=y
)

In [127]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [128]:
scaler = StandardScaler()

In [129]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [130]:
from sklearn.ensemble import RandomForestClassifier

In [131]:
# still so many misclassifications so I am going to use XGboost so that the model can perform better

In [132]:
%pip install xgboost

Requirement already satisfied: xgboost in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (3.1.3)
Requirement already satisfied: numpy in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from xgboost) (2.4.1)
Requirement already satisfied: scipy in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from xgboost) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [133]:
from sklearn.ensemble import VotingClassifier, RandomForestClassifier
from xgboost import XGBClassifier

In [134]:
rf_expert = RandomForestClassifier(n_estimators=200, 
                                   class_weight='balanced_subsample', 
                                   random_state=42)

In [135]:
xgb_expert = XGBClassifier(use_label_encoder=False, 
                           eval_metric='logloss',
                           scale_pos_weight=5, 
                           max_depth=4,        
                           learning_rate=0.05,
                           n_estimators=200,
                           random_state=42)

In [136]:
voting_model = VotingClassifier(estimators=[('rf', rf_expert), ('xgb', xgb_expert)], 
                                voting='soft')

In [137]:
# I think we should change TF-IDf to some other like word2vec because in the most perfect model possible like ensemble it gives sucha a low recall.

In [138]:
%pip install spacy
!python -m spacy download en_core_web_md

Requirement already satisfied: spacy in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (3.8.11)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (1.0.15)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (2.0.13)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (3.0.12)
Requirement already satisfied: thinc<8.4.0,>=8.3.4 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (8.3.10)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (1.1.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (2.5.2)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (2.0.10)
Requirement already satisfied: weasel<0.5.0,>=0.4.2 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (0.4.3)
Requirement already satisfied: typer-slim<1.0.0,>=0.3.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (0.21.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (4.67.1)
Requirement already satisfied: numpy>=1.19.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (2.4.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (2.32.5)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (2.12.5)
Requirement already satisfied: jinja2 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (3.1.6)
Requirement already satisfied: setuptools in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from spacy) (65.5.0)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from spacy) (25.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.5 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (2.41.5)
Requirement already satisfied: typing-extensions>=4.14.1 in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.2 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (0.4.2)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.6.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2026.1.4)
Requirement already satisfied: blis<1.4.0,>=1.3.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from thinc<8.4.0,>=8.3.4->spacy) (1.3.3)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from thinc<8.4.0,>=8.3.4->spacy) (0.1.5)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\roaming\python\python311\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.6)
Requirement already satisfied: click>=8.0.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from typer-slim<1.0.0,>=0.3.0->spacy) (8.3.1)
Requirement already satisfied: cloudpathlib<1.0.0,>=0.7.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from weasel<0.5.0,>=0.4.2->spacy) (0.23.0)
Requirement already satisfied: smart-open<8.0.0,>=5.2.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from weasel<0.5.0,>=0.4.2->spacy) (7.5.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from jinja2->spacy) (3.0.3)
Requirement already satisfied: wrapt in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from smart-open<8.0.0,>=5.2.1->weasel<0.5.0,>=0.4.2->spacy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting en-core-web-md==3.8.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl (33.5 MB)
     ---------------------------------------- 0.0/33.5 MB ? eta -:--:--
     ---------------------------------------- 0.0/33.5 MB ? eta -:--:--
     ---------------------------------------- 0.0/33.5 MB ? eta -:--:--
     --------------------------------------- 0.0/33.5 MB 325.1 kB/s eta 0:01:43
     --------------------------------------- 0.1/33.5 MB 573.4 kB/s eta 0:00:59
     ---------------------------------------- 0.2/33.5 MB 1.1 MB/s eta 0:00:30
      --------------------------------------- 0.4/33.5 MB 1.9 MB/s eta 0:00:18
      --------------------------------------- 0.6/33.5 MB 2.2 MB/s eta 0:00:15
      --------------------------------------- 0.8/33.5 MB 2.5 MB/s eta 0:00:14
     - -------------------------------------- 0.9/33.5 MB 2.5 MB/s eta 0:00:14
     - -------------------------------------- 1.0/33.5 MB 2.5 MB/s eta 0:00:14
     - -------------------------------------- 1.2/33.5 MB 2.6 MB/s eta 0:00:13
     - -------------------------------------- 1.4/33.5 MB 2.8 MB/s eta 0:00:12
     - -------------------------------------- 1.6/33.5 MB 2.9 MB/s eta 0:00:11
     -- ------------------------------------- 1.8/33.5 MB 3.0 MB/s eta 0:00:11
     -- ------------------------------------- 2.0/33.5 MB 3.1 MB/s eta 0:00:11
     -- ------------------------------------- 2.3/33.5 MB 3.4 MB/s eta 0:00:10
     --- ------------------------------------ 2.7/33.5 MB 3.6 MB/s eta 0:00:09
     --- ------------------------------------ 3.0/33.5 MB 3.8 MB/s eta 0:00:09
     --- ------------------------------------ 3.3/33.5 MB 3.9 MB/s eta 0:00:08
     ---- ----------------------------------- 3.5/33.5 MB 4.0 MB/s eta 0:00:08
     ---- ----------------------------------- 3.9/33.5 MB 4.2 MB/s eta 0:00:08
     ----- ---------------------------------- 4.2/33.5 MB 4.3 MB/s eta 0:00:07
     ----- ---------------------------------- 4.5/33.5 MB 4.5 MB/s eta 0:00:07
     ----- ---------------------------------- 4.8/33.5 MB 4.5 MB/s eta 0:00:07
     ----- ---------------------------------- 4.9/33.5 MB 4.5 MB/s eta 0:00:07
     ----- ---------------------------------- 4.9/33.5 MB 4.5 MB/s eta 0:00:07
     ----- ---------------------------------- 4.9/33.5 MB 4.5 MB/s eta 0:00:07
     ------ --------------------------------- 5.1/33.5 MB 4.0 MB/s eta 0:00:08
     ------ --------------------------------- 5.2/33.5 MB 4.0 MB/s eta 0:00:07
     ------ --------------------------------- 5.6/33.5 MB 4.1 MB/s eta 0:00:07
     ------ --------------------------------- 5.8/33.5 MB 4.1 MB/s eta 0:00:07
     ------- -------------------------------- 6.0/33.5 MB 4.2 MB/s eta 0:00:07
     ------- -------------------------------- 6.2/33.5 MB 4.2 MB/s eta 0:00:07
     ------- -------------------------------- 6.3/33.5 MB 4.1 MB/s eta 0:00:07
     ------- -------------------------------- 6.4/33.5 MB 4.1 MB/s eta 0:00:07
     -------- ------------------------------- 6.7/33.5 MB 4.1 MB/s eta 0:00:07
     -------- ------------------------------- 7.1/33.5 MB 4.2 MB/s eta 0:00:07
     -------- ------------------------------- 7.4/33.5 MB 4.3 MB/s eta 0:00:07
     --------- ------------------------------ 7.8/33.5 MB 4.4 MB/s eta 0:00:06
     --------- ------------------------------ 8.2/33.5 MB 4.5 MB/s eta 0:00:06
     ---------- ----------------------------- 8.6/33.5 MB 4.6 MB/s eta 0:00:06
     ---------- ----------------------------- 8.9/33.5 MB 4.6 MB/s eta 0:00:06
     ----------- ---------------------------- 9.3/33.5 MB 4.7 MB/s eta 0:00:06
     ----------- ---------------------------- 9.7/33.5 MB 4.9 MB/s eta 0:00:05
     ------------ --------------------------- 10.1/33.5 MB 4.9 MB/s eta 0:00:05
     ------------ --------------------------- 10.5/33.5 MB 5.4 MB/s eta 0:00:05
     ------------ --------------------------- 10.7/33.5 MB 5.4 MB/s eta 0:00:05
     ------------- -------------------------- 11.2/33.5 MB 5.7 MB/s eta 0:00:04
     ------------- -------------------------- 11.7/33.5 MB 6.0 MB/s eta 0:00:04
     -------------- ------------------------- 12.1/33.5 MB 6.1 MB/s eta 0:00:04
     --------------- ------------------------ 12.6/33.5 MB 6.4 MB/s eta 0:00:04
     --------------- ------------------------ 13.0/33.5 MB 6.3 MB/s eta 0:00:04
     ---------------- ----------------------- 13.4/33.5 MB 6.4 MB/s eta 0:00:04
     ---------------- ----------------------- 13.9/33.5 MB 6.5 MB/s eta 0:00:03
     ----------------- ---------------------- 14.3/33.5 MB 6.6 MB/s eta 0:00:03
     ----------------- ---------------------- 14.9/33.5 MB 6.7 MB/s eta 0:00:03
     ------------------ --------------------- 15.3/33.5 MB 7.6 MB/s eta 0:00:03
     ------------------ --------------------- 15.7/33.5 MB 7.8 MB/s eta 0:00:03
     ------------------- -------------------- 16.2/33.5 MB 8.1 MB/s eta 0:00:03
     ------------------- -------------------- 16.6/33.5 MB 8.5 MB/s eta 0:00:02
     -------------------- ------------------- 17.0/33.5 MB 9.0 MB/s eta 0:00:02
     -------------------- ------------------- 17.5/33.5 MB 9.1 MB/s eta 0:00:02
     --------------------- ------------------ 17.8/33.5 MB 9.1 MB/s eta 0:00:02
     --------------------- ------------------ 18.4/33.5 MB 9.1 MB/s eta 0:00:02
     ---------------------- ----------------- 18.8/33.5 MB 9.2 MB/s eta 0:00:02
     ---------------------- ----------------- 19.1/33.5 MB 9.4 MB/s eta 0:00:02
     ----------------------- ---------------- 19.9/33.5 MB 9.2 MB/s eta 0:00:02
     ------------------------ --------------- 20.4/33.5 MB 9.4 MB/s eta 0:00:02
     ------------------------ --------------- 20.8/33.5 MB 9.5 MB/s eta 0:00:02
     ------------------------- -------------- 21.2/33.5 MB 9.5 MB/s eta 0:00:02
     ------------------------- -------------- 21.8/33.5 MB 9.5 MB/s eta 0:00:02
     -------------------------- ------------- 22.2/33.5 MB 9.5 MB/s eta 0:00:02
     -------------------------- ------------- 22.4/33.5 MB 9.5 MB/s eta 0:00:02
     --------------------------- ------------ 22.9/33.5 MB 9.4 MB/s eta 0:00:02
     --------------------------- ------------ 23.4/33.5 MB 9.4 MB/s eta 0:00:02
     ---------------------------- ----------- 23.8/33.5 MB 9.4 MB/s eta 0:00:02
     ---------------------------- ----------- 24.3/33.5 MB 9.4 MB/s eta 0:00:01
     ----------------------------- ---------- 24.7/33.5 MB 9.4 MB/s eta 0:00:01
     ------------------------------ --------- 25.2/33.5 MB 9.5 MB/s eta 0:00:01
     ------------------------------ --------- 25.6/33.5 MB 9.5 MB/s eta 0:00:01
     ------------------------------- -------- 26.1/33.5 MB 9.5 MB/s eta 0:00:01
     ------------------------------- -------- 26.6/33.5 MB 9.6 MB/s eta 0:00:01
     -------------------------------- ------- 27.1/33.5 MB 9.6 MB/s eta 0:00:01
     -------------------------------- ------- 27.6/33.5 MB 9.6 MB/s eta 0:00:01
     --------------------------------- ------ 28.1/33.5 MB 9.8 MB/s eta 0:00:01
     ---------------------------------- ----- 28.5/33.5 MB 9.8 MB/s eta 0:00:01
     ---------------------------------- ----- 29.0/33.5 MB 9.8 MB/s eta 0:00:01
     ----------------------------------- ---- 29.4/33.5 MB 9.6 MB/s eta 0:00:01
     ----------------------------------- ---- 29.8/33.5 MB 9.8 MB/s eta 0:00:01
     ------------------------------------ --- 30.2/33.5 MB 9.6 MB/s eta 0:00:01
     ------------------------------------ --- 30.6/33.5 MB 9.6 MB/s eta 0:00:01
     ------------------------------------- -- 31.0/33.5 MB 9.6 MB/s eta 0:00:01
     ------------------------------------- -- 31.5/33.5 MB 9.6 MB/s eta 0:00:01
     -------------------------------------- - 31.9/33.5 MB 9.5 MB/s eta 0:00:01
     -------------------------------------- - 32.1/33.5 MB 9.2 MB/s eta 0:00:01
     -------------------------------------- - 32.6/33.5 MB 9.4 MB/s eta 0:00:01
     ---------------------------------------  33.1/33.5 MB 9.4 MB/s eta 0:00:01
     ---------------------------------------  33.5/33.5 MB 9.5 MB/s eta 0:00:01
     ---------------------------------------  33.5/33.5 MB 9.5 MB/s eta 0:00:01
     ---------------------------------------  33.5/33.5 MB 9.5 MB/s eta 0:00:01
     ---------------------------------------  33.5/33.5 MB 9.5 MB/s eta 0:00:01
     ---------------------------------------- 33.5/33.5 MB 8.1 MB/s eta 0:00:00
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_md')

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [139]:
import spacy
import numpy as np
import pandas as pd


nlp = spacy.load("en_core_web_md")

print("Converting text to vectors... This takes a moment.")


def get_vec(text):
    return nlp(str(text)).vector

text_train_vectors = np.vstack(text_train.apply(get_vec))
text_test_vectors = np.vstack(text_test.apply(get_vec))

print("Vectorization Complete! New shape:", text_train_vectors.shape)

Converting text to vectors... This takes a moment.
Vectorization Complete! New shape: (14304, 300)

In [140]:
from scipy.sparse import hstack
from sklearn.ensemble import VotingClassifier, RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import classification_report, confusion_matrix

X_train_final_vec = np.hstack([X_train_scaled, text_train_vectors])
X_test_final_vec = np.hstack([X_test_scaled, text_test_vectors])


rf_expert = RandomForestClassifier(n_estimators=200, 
                                   class_weight='balanced_subsample', 
                                   random_state=42)

xgb_expert = XGBClassifier(use_label_encoder=False, 
                           eval_metric='logloss',
                           scale_pos_weight=5, 
                           max_depth=4,
                           learning_rate=0.05,
                           n_estimators=200,
                           random_state=42)

voting_model = VotingClassifier(estimators=[('rf', rf_expert), ('xgb', xgb_expert)], 
                                voting='soft')

print("Training on Semantic Vectors...")
voting_model.fit(X_train_final_vec, y_train)

y_pred_vec = voting_model.predict(X_test_final_vec)

print("\n--- Results with Spacy Embeddings ---")
print(classification_report(y_test, y_pred_vec))
print(confusion_matrix(y_test, y_pred_vec))

Training on Semantic Vectors...

c:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\training.py:199: UserWarning: [12:39:46] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:790:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

--- Results with Spacy Embeddings ---
              precision    recall  f1-score   support

           0       0.98      0.91      0.95      3403
           1       0.28      0.69      0.40       173

    accuracy                           0.90      3576
   macro avg       0.63      0.80      0.67      3576
weighted avg       0.95      0.90      0.92      3576

[[3096  307]
 [  53  120]]